.section {
  min-height: 100dvh;
  padding: 7rem 9% 2rem;
  background: rgb(0, 30, 37);
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  gap: 1rem;
}
