.educationSpace::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 50%;
  top: 2rem;
  transform: translateY(-50%);
  height: 0.2rem;
  background-color: rgb(177, 66, 66);
  z-index: 0;
}

.educationSpace::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2rem;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border: 0.2rem solid rgb(177, 66, 66);
  /* box-shadow: 0 0 1rem rgb(177, 66, 66); */
  background: rgb(0, 30, 37);
}

.educationSpace {
  position: relative;
  /* flex-basis: 12rem; */
  margin-left: 3.1rem;
}

.educationBar {
  position: relative;
  /* overflow: hidden; */
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(0, 54, 66);
  border-radius: 0.5rem;
  text-align: center;
  /* border: 0.1rem solid rgb(177, 66, 66); */
  z-index: 2;
}

.barHeader {
  background-color: rgb(177, 66, 66);
  border-radius: 0.5rem 0.5rem 0 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barHeader > h1 {
  font-size: 1.8rem;
}

.barBody {
  margin: 0.6rem 1rem;
  font-size: 1.2rem;
  display: flex;
  min-height: 10rem;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 0 0 0.1rem black;
}

.headText {
  font-weight: 600;
}

.centerText {
  padding: 1rem 0;
}

.barLocation {
  color: rgb(177, 66, 66);
  font-weight: 600;
}

@media (min-width: 768px) {
  .educationSpace {
    margin: 0;
    width: 50%;
    flex-basis: 14rem;
    margin: -2rem 0;
  }

  .educationSpace:nth-of-type(even) {
    align-self: start;
  }

  .educationSpace:nth-of-type(even)::before {
    left: 50%;
    right: 0;
  }

  .educationSpace:nth-of-type(even)::after {
    right: 0;
    left: auto;
    transform: translate(50%, -50%);
  }

  .educationBar {
    max-width: 30rem;
  }

  .barHeader {
    height: 4rem;
  }
}
