.project {
  position: relative;
  /* margin: 0 auto; */
  overflow: hidden;
  /* border: 0.2rem solid rgb(177, 66, 66); */
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
  cursor: pointer;
  box-shadow: 0 0 0.3rem rgb(0, 0, 0);
}

.img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.project:hover .img {
  transform: scale(1.05);
  filter: blur(0.3rem);
}

.details {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transform: translateY(calc(100% - 4rem));
  background-color: rgba(0, 54, 66, 0.9);
  transition: 0.3s;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  overflow-y: hidden;
}

.project:hover .details {
  transform: translateY(0);
}

.stackIcons {
  font-size: 1.6rem;
  height: 4rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  font-size: 2rem;
  color: rgb(177, 66, 66);
  font-weight: 700;
  margin: 0;
  text-shadow: 0 0 0.3rem black;
}

.description {
  margin-bottom: 1rem;
  padding: 0 2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: normal;
  text-shadow: 0 0 0.3rem black;
  overflow-y: auto;
}

.links {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: rgb(177, 66, 66);
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.3rem rgb(177, 66, 66);
}

.icon {
  font-size: 1.3rem;
}
