.section {
  min-height: 100vh;
  padding: 7rem 9% 2rem;
  background: rgb(0, 30, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 4rem;
}

.textContainer {
  flex: 0;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: rgb(177, 66, 66);
  margin-bottom: 3rem;
}

.text {
  font-size: 1.2rem;
  text-wrap: pretty;
  /* white-space: normal; */
  white-space: pre-wrap;
  text-align: justify;
}

.text,
.title {
  opacity: 0;
  transform: translateX(-100px);
}

.img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  opacity: 0;
  transform: translateX(100px);
}

.imgContainer {
  display: block;
  width: auto;
  height: auto;
  max-width: 40%;
  min-width: 20rem;
}

.imgAnimation {
  animation-name: slideFromLeft;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.textAnimation,
.titleAnimation {
  animation-name: slideFromRight;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (min-width: 992px) {
  .section {
    flex-direction: row;
  }

  .textContainer {
    flex: 1;
  }

  .imgContainer {
    max-height: 80dvh;
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
