.section {
  min-height: 100vh;
  padding: 7rem 3% 2rem;
  background-color: #001e25;
}

.title {
  opacity: 0;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.titleAnimation {
  animation-name: slideFromTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.form {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputDiv {
  width: 100%;
}

.inputAnimationLeft {
  animation-name: slideFromLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.inputAnimationRight {
  animation-name: slideFromRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.textareaAnimation {
  animation-name: slideFromBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.submit {
  opacity: 0;
  display: block;
  text-decoration: none;
  background-color: rgb(177, 66, 66);
  color: rgb(0, 30, 37);
  box-shadow: 0 0 0.6rem rgb(177, 66, 66);
  font-size: larger;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  margin: 1.5rem auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.submit:hover {
  box-shadow: none;
}

.submit:disabled {
  background-color: rgb(151, 57, 57);
  box-shadow: none;
  cursor: default;
}

.submitAnimation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

.loadingIcon {
  display: block;
  /* font-size: larger; */
  width: 1.5rem;
  height: 1.5rem;
  animation-name: spinner;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.success,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  min-height: 4rem;
  max-width: max-content;
  width: 95%;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.5rem;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.success::after,
.error::after {
  content: "";
  position: absolute;
  height: 0.3rem;
  width: 100%;
  bottom: 0;
  background-color: white;
  animation-name: statusTimer;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.close {
  font-size: 1.6rem;
  cursor: pointer;
  transition: 0.5s;
}

.close:hover {
  transform: scale(1.2);
}

.success {
  background-color: rgb(36, 136, 36);
}

.error {
  background: rgb(170, 33, 33);
}

@media (min-width: 768px) {
  .inputDiv {
    width: 49%;
  }
}

@keyframes statusTimer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0);
  }
  50% {
    transform: translateY(-10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
