.section {
  min-height: 100svh;
  padding: 6rem 3% 2rem;
  overflow-y: hidden;
  background: rgb(0, 30, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background: linear-gradient(
    270deg,
    rgba(0, 30, 37, 1) 15%,
    rgb(177, 66, 66) 100%
  ); */
}

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.imgContainer {
  position: relative;
  border-bottom: 0.3rem solid rgb(177, 66, 66);
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 12rem;
  height: auto;
  z-index: 1;
  mix-blend-mode: difference;
  filter: drop-shadow(0 0 8rem rgb(177, 66, 66)) blur(1rem);
}

.fromBlur {
  animation: fromBlur 1.5s forwards;
}

.imgBar {
  position: absolute;
  bottom: 2rem;
  width: 25rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  backdrop-filter: blur(1rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: 700;
  z-index: 2;
  height: 5rem;
}

.imgBar:hover .icon {
  animation-play-state: paused;
}

.reactIcon {
  color: rgb(97, 219, 251);
  position: absolute;
}

.tsIcon {
  color: rgb(49, 120, 198);
  position: absolute;
}

.nextIcon {
  color: rgb(0, 0, 0);
  background: radial-gradient(rgb(255, 255, 255) 20%, rgb(0, 0, 0) 100%);
  border-radius: 9999px;
}

.tailwindIcon {
  color: rgb(56, 189, 248);
}

.icon {
  left: 40%;
  transform: translateX(10rem) rotateY(70deg) scale(0.6);
  opacity: 0;
  position: absolute;
  animation-name: carousel;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.textContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-shadow: 0 0.2rem 0.4rem black;
  z-index: 1;
}

.title {
  opacity: 0;
  font-size: large;
  color: rgb(255, 255, 255);
}

.titleAnimation {
  animation-name: slideFromLeft;
}

.fullName {
  opacity: 0;
  font-size: xx-large;
  color: rgb(177, 66, 66);
}

.fullNameAnimation {
  animation-name: fadeIn;
}

.profession {
  opacity: 0;
  font-size: large;
  margin-bottom: 2rem;
}

.professionAnimation {
  animation-name: slideFromRight;
}

.download {
  opacity: 0;
  display: block;
  text-shadow: none;
  text-decoration: none;
  background-color: rgb(177, 66, 66);
  color: rgb(0, 30, 37);
  box-shadow: 0 0 1.2rem rgb(177, 66, 66);
  font-size: x-large;
  font-weight: 700;
  padding: 0.7rem 1.4rem;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

.download:hover {
  box-shadow: none;
}

.downloadAnimation {
  animation-name: fadeIn;
}

.titleAnimation,
.fullNameAnimation,
.professionAnimation,
.downloadAnimation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.socialMedia {
  display: flex;
  width: 100%;
  max-width: 30rem;
  justify-content: space-evenly;
  align-items: center;
  order: -1;
  margin-bottom: 2rem;
}

.mediaIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  color: rgb(177, 66, 66);
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid rgb(177, 66, 66);
  border-radius: 9999px;
  transition-duration: 0.3s;
  opacity: 0;
}

.mediaIcon:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.2rem 0.6rem rgb(122, 46, 46);
}

.mediaIconAnimation {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@media (min-width: 992px) {
  .section {
    min-height: auto;
    height: 100svh;
    padding: 6rem 3% 0;
  }

  .home {
    flex-direction: row;
    height: 100%;
  }

  .imgContainer {
    flex-basis: 50%;
    height: 100%;
    border-bottom: none;
  }

  .img {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    left: 50%;
    max-height: 100%;
    transform: translateX(-50%);
    opacity: 0.8;
  }

  .imgBar {
    bottom: 4rem;
  }

  .textContainer {
    flex-basis: 50%;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .fullName {
    font-size: 4rem;
  }

  .profession {
    font-size: 2rem;
    margin-bottom: 7rem;
  }

  .download {
    font-size: 2rem;
    padding: 1rem 2rem;
  }

  .socialMedia {
    order: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 8rem 9% 0;
    max-width: 1920px;
    margin: 0 auto;
  }

  .img {
    max-width: auto;
  }
}

@keyframes fromBlur {
  0% {
    filter: drop-shadow(0 0 2rem rgb(177, 66, 66)) blur(1rem);
  }
  100% {
    filter: drop-shadow(0 0 3rem rgb(177, 66, 66));
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0);
  }
  50% {
    transform: translateY(10px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(9rem) rotateY(90deg) scale(0.4);
    opacity: 0;
  }

  25% {
    transform: translateX(5rem) rotateY(30deg) scale(0.7);
    opacity: 1;
  }

  50% {
    transform: translateX(0) rotateY(0);
    opacity: 1;
  }

  75% {
    transform: translateX(-5rem) rotateY(-30deg) scale(0.7);
    opacity: 1;
  }

  100% {
    transform: translateX(-9rem) rotateY(-90deg) scale(0.4);
    opacity: 0;
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
