.section {
  min-height: 100vh;
  padding: 7rem 9% 2rem;
  background: rgb(0, 30, 37);
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  transition: 0.5s;
  /* transform: translateX(-100px);
  opacity: 0; */
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
  gap: 1rem;
}

.inView {
  transform: rotateX(100deg);
  opacity: 1;
  color: red;
}
